<ion-view title="Game" hide-nav-bar="true" id="page3" style="background-color:#365EFF;">
    <ion-content padding="true" ng-init="init()" style="background: url(img/8jYaMsPTuqev9RN0Qw2j_maxresdefault.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
        <div class="spacer" style="width: 300px; height: 6px;"></div>
        <h1 id="game-heading4" style="color:#FFFFFF;text-align:center;">Trivia</h1>
        <div class="spacer" style="width: 300px; height: 26px;"></div>
        <div id="game-markdown4" style="color:#FFFFFF;font-size:18px;text-align:center;">
            <p>Elige una de las 3 respuestas y trata de responder correctamente todas las preguntas!</p>
        </div>
        <div class="spacer" style="width: 300px; height: 30px;"></div>
        <!-- <a ui-sref="mainTabs.trivia" id="game-button4" style="font-weight:500;color:#000000;font-size:25px;border-radius:25px 25px 25px 25px;" class="button button-energized  button-block">Comenzar</a> -->
        <a ng-click="Jugar()" ng-disabled="PreguntasTrivia.length == 0" id="game-button4" style="font-weight:500;color:#000000;font-size:25px;border-radius:25px 25px 25px 25px;" class="button button-energized  button-block">Comenzar</a>
        <div><ion-spinner icon="lines" class="spinner-energized" ng-show="PreguntasTrivia.length == 0"></ion-spinner></div>
        <div class="spacer" style="width: 300px; height: 26px;"></div>
        <a ui-sref="login" ng-disabled="PreguntasTrivia.length == 0" id="game-button5" style="font-weight:500;color:#FFFFFF;font-size:25px;border-radius:12px 12px 12px 12px;" class="button button-assertive  button-block">Desloguear</a>
    </ion-content>
</ion-view>